* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav_contenedor {
  background-color: #ffffff;
  width: 96%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav_contenedor {
  background-color: #ffffff;
  width: 96%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
}

.nav__logo {
  width: auto;
  height: 53px;
  margin-left: 23px;
}

.nav__items {
  width: 38rem;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  padding-top: 0.8rem;
  color: #000000;
}

.nav__link {
  text-decoration: none;
  list-style: none;
  color: #000000;
}

.nav__link:hover {
  color: #000000;
}

.contenedor {
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.aside_contenedor {
  height: 85%;
  width: 40%;
  /* background-image: url(../../img/solutions/FINANCE\ AND\ LEGAL.png); */
  background-size: contain;
  /* background-size: cover; */
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  /* Transición para el fondo de la imagen */
}

.mision-contenedor {
  height: 90%;
  width: 60%;
  background-color: #ffffff;
  display: flex;
  padding: 50px 50px 40px 50px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.5rem;
  /* border-right: 1px solid black;
  border-bottom: 1px solid black; */
  -webkit-box-shadow: 10px 10px 18px -6px rgba(168,168,168,1);
  -moz-box-shadow: 10px 10px 18px -6px rgba(168,168,168,1);
  box-shadow: 10px 10px 18px -6px rgba(168,168,168,1);
}

.mision-title {
  width: fit-content;
  height: 56px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ffffff 100%, white 15%);
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.font25 {
  font-size: 25px;
}

.mision-parrafo {
  width: auto;
  height: 332px;
  font-size: 20px;
  text-align: justify;
  padding: 35 0 0 0;
}

.container_menu {
  display: flex;
  flex-direction: column;
  height: 85%;
}

.box {
  width: 100px;
  height: 72px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid black;
  border-top: 0px solid;
}

.box1 {
  background-color: #000000;
  transition: background-color 0.3s ease-in-out;
}

.box:hover {
  background-color: #000000
}

.circle:hover {
  background-color: #000000;
  color: #d9d9d9;
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.circle1 {
  background-color: #ffffff;
  color: #000000;

  animation-name: girar;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.bordetop {
  border-top: 1px solid black;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


@media (max-width:480px) {
  .nav_contenedor {
    background-color: #ffffff;
    width: 91%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .nav__items {
    display: none;
  }

  .contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: none;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
  }

  .container_menu {
    display: inline-block;
    height: auto;
    width: 95%;
    /* justify-content: space-around; */
  }

  .submenu {
    display: flex;
  }

  .mision-contenedor {
    height: 38vh;
    width: 95%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    flex-direction: column;
  }

  .mision-parrafo {
    width: auto;
    height: 200px;
    font-size: 20;
    text-align: justify;
    padding: 35 0 0 0;
  }

  .aside_contenedor {
    height: 46vh;
    width: 95%;
    /* background-image: url(../../img/solutions/FINANCE\ AND\ LEGAL.png); */
    background-size: contain;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
  }

  .mision-title {
    width: fit-content;
    height: 46px;
    font-size: 20x;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: #000000;
    padding: 0;
    margin-bottom: 0;
  }
}