* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav_contenedor {
  background-color: #ffffff;
  width: 96%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav__logo {
  width: 123px;
  height: 27px;
}

.nav__items {
  width: 38rem;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav__item {
  display: flex;
  align-items: flex-end;
  ;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.nav_social-media {
  width: 106px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.social-media__logos {
  width: 30px;
  height: 30px;
  list-style: none;
}

.contenedor {
  width: 100%;
  height: 88vh;
  display: flex;
}

.aside_contenedor {
  height: 100%;
  width: 52%;
  background-image: url(../../img/about_images/3.png);
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

/* .aside_img {
    background-image: url(img/about_images/1.png);
    background-size: cover;
    background-position: center;
  } */
.mision-contenedor {
  height: 100%;
  width: 48%;
  /* background-color: #ffcd1a; */
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem 4rem 3rem 4rem;
}

.mision-title {
  width: 230px;
  height: 44px;
  font-size: 20px;
  text-align: start;
  line-height: 44px;
  background: linear-gradient(to right, #030303 90%, #FFCD1A 10%);
  color: white;
  padding: 0px 12px;
  margin-bottom: 10px;
}

.mision-parrafo {
  width: 526px;
  height: 292px;
  font-size: 20;
  text-align: justify;
  padding: 35 0 0 0;
}

.button_next {
  width: 177px;
  height: 46px;
  text-align: center;
  background-color: #030303;
  color: #ffffff;
  font-size: 20;
}

.button__link {
  text-decoration: none;
  color: #ffffff;
  align-items: end;
  display: flex;
  width: 526px;
  justify-content: flex-end;
  padding: 45 0 0 50;
}


@media (max-width:480px) {
  .contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .aside_contenedor {
    height: 32vh;
    width: 100vw;
    background-image: url(../../img/about_images/3.png);
    background-size: cover;
    background-position: center;
    /* transition: background-image 0.5s ease-in-out; */
  }

  .mision-contenedor {
    height: 80vh;
    width: 100%;
    /* background-color: #ffcd1a; */
    display: flex;
    padding: 3rem 4rem 3rem 4rem;
    justify-content: center;
    flex-direction: column;
  }

  .mision-parrafo {
    height: auto;
    width: 100%;
    font-size: 20px;
    text-align: justify;
    padding: 2rem 0 2rem 0px;
  }

  .button__link {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    width: 100%;
    padding: 1rem 0 0 0px;
    justify-content: flex-end;
    /* height: 12px; */
  }

  .nav__items {
    display: none;
  }
}

@media (max-width:380px) {
  .mision-parrafo {
    height: auto;
    width: 100%;
    font-size: 20px;
    text-align: justify;
    padding: 1rem 0 0rem 0px;
  }
}